.terminalInput {
  background-color: rgba(45, 45, 45, 0.52);
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  height: fit-content;
}

.terminalOutput {
  color: white;
  height: 35vh;
  display: flex;
  flex-direction: column-reverse;
  white-space: pre-line;
  overflow: auto;
  font-weight:400;
  border-top: 1px rgba(45, 45, 45, 0.52) solid;
}

::-webkit-scrollbar {
  display: none;
}

input {
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: 1em;
}


.terminalInputSingle {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
}

.terminalHolder {
  width: 100%;
	padding: 5px;
}
