:root {
  --bg-color: #202127;
  --typewriterSpeed: 0.5s;
  --typewriterCharacters: 21;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.welcome {
	color: #2dc78c;
	font-weight: bold;
	font-size: 300%;
	transition: 500ms;
	width: fit-content;
}

.welcomeDiv > p {
	color: aliceblue;
}

.miniNestedDiv > h1 {
	margin: 0;
	padding: 0;
}

.welcomeDiv {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: max(100);
}

.mainContent {
	width: max(300px, 40%);
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: #1c1d22;
  animation: typewriter var(--typewriterSpeed)
    ease-in 1s forwards;
}

h1::after {
  width: 0.125em;
  background: #5be4ad;
  animation: typewriter var(--typewriterSpeed)
      ease-in 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: #2dc78c;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
