.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: #2dc78c;
  font-weight: bold;
  font-size: 300%;
  transition: 500ms;
  width: fit-content;
}

.welcomeDiv > p {
  color: aliceblue;
}

.welcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: max(100);
}

.mainContent {
  width: 40%;
}

.miniNestedNestedDiv2 > h1 {
  margin: 0;
  padding: 0;
  border-right: 5px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 2px;
  text-shadow: #2dc78c1e 1px 1px 10px; 
}

.welcome-lt {
  animation: typing 3s steps(21), cursor 400ms step-end 14 alternate;
}

.welcome-hi {
  animation: typing 0.25s steps(3), cursor 400ms step-end 2 alternate;
}

.miniNestedNestedDiv1,
.miniNestedNestedDiv2 {
  display: inline-block;
}

.subtitle {
  opacity: 0;
  animation: fadeInUp 2s ease 3s forwards;
}

@keyframes cursor {
  50% {
    border-color: #2dc78c;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}
