.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
}

.loginSection {
  width: max(40%, 400px);
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}

.loginSection input {
  background-color: transparent;
  border: none;
  font-family: "Fira Mono", monospace;
  color: #fdfd73;
	width: 100%;
	padding: 0.75em;
}

.loginSection h1 {
  margin: 0;
  padding: 0;
  border-right: 5px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #d670d6;
  text-shadow: #d670d630 1px 1px 10px;
  font-size: 4em;
  animation: typing 1s steps(5), pinkcursor 400ms step-end 7 alternate;
}
.loginType {
  display: inline-block;
	width: fit-content;
}
.signInWithGoogle {
  display: flex;
  width: 100%;
  align-items: center;
	justify-content: space-between;
}

.loginButtonGoogle {
  background-color: #515c6a;
	color: aliceblue;
  border: none;
	border-radius: 5px;
  height: fit-content;
  padding: 0.75em;
	font-weight: 500;
  font-family: "Fira Mono", monospace;
}

.inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.finalLoginButton {
	background-color: #d670d6;
	color: aliceblue;
	border: none;
	padding: 0.75em;
	font-family: "Fira Mono", monospace;
	border-radius: 5px;
	font-weight: 500;
	
}

@keyframes pinkcursor {
  50% {
    border-color: #d670d6;
  }
}
