.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
}

.registerSection {
  width: max(40%, 400px);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerSection input {
  background-color: transparent;
  border: none;
  font-family: "Fira Mono", monospace;
  color: #fdfd73;
  width: 100%;
  padding: 0.75em;
}

.registerSection h1 {
  margin: 0;
  padding: 0;
  border-right: 5px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #5be4ad;
	text-shadow: #2dc78c53 1px 1px 10px;
  font-size: 4em;
  animation: typing 2s steps(8), aquacursor 400ms step-end 7 alternate;
}

.registerType {
  display: inline-block;
	width: fit-content;
}

.registerWithGoogle {
  background-color: #515c6a;
	color: aliceblue;
  border: none;
	border-radius: 5px;
  height: fit-content;
  padding: 0.75em;
	font-weight: 500;
  font-family: "Fira Mono", monospace;
	margin-top: 10px;
}

.registerWithEP {
	background-color: #38a1ff;
	color: aliceblue;
	border: none;
	padding: 0.75em;
	font-family: "Fira Mono", monospace;
	border-radius: 5px;
	font-weight: 500;
	margin-top: 10px;
	
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes aquacursor {
  50% {
    border-color: #5be4ad;
  }
}
