@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

body {
  background-color: #202127;
  color: aliceblue;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  font-family: "Fira Mono", monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
}

.subtitle {
  opacity: 0;
  animation: fadeInUp 2s ease 3s forwards;
}

.homeNavbar {
  color: #2dc78c49;
  font-size: smaller;
  font-style: italic;
  text-decoration: none;
  transition: 0.25s linear;
}

.homeNavbar:hover {
  color: #2dc78c;
  text-shadow: 0px 0px 5px #2dc78c;
}

.profileNavbar {
  color: #d670d649;
  font-size: smaller;
  font-style: italic;
  text-decoration: none;
  transition: 0.25s linear;
}

.profileNavbar:hover {
  color: #d670d6;
  text-shadow: 0px 0px 5px #d670d6;
}

.mainNav {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width:801px) {
  * { 
    background-color: #202127;
  }
  *::after {
    content: "The code club website does not work on phone just yet";
    color: #2dc78c;
    text-shadow: 1px 1px 5px #2dc78c64;
    font-family: "Fira Mono";
  }
  
  body {
   display: none;
  }

}